<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
  <h4>List of courses</h4>
</ng-template>
<ng-template #noCourses>
  <h4>No Courses</h4>
</ng-template>
<button (click)="LoadCourses()">Load Courses</button>
<div [hidden]="courses.length == 0">
  <h4>List of courses</h4>
  <ul>
    <li *ngFor="let course of courses; index as i; even as isEven; trackBy: trackCourses">
      {{i+1}} - {{ course.name }}
      <button (click)="onRemove(course)">Remove</button>
      <span *ngIf="isEven">(EVEN)</span>
    </li>
    <li>
      <button (click)="onAdd()">Add</button>
    </li>
  </ul>
</div>
<div [hidden]="courses.length > 0">
  <h4>No Courses</h4>
</div>

<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'">
    <a (click)="viewMode = 'map'">Map View</a>
  </li>
  <li [class.active]="viewMode == 'list'">
    <a (click)="viewMode = 'list'">List View</a>
  </li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>
