<h2>
  Binding
</h2>
<figure>
  <img width="300" src="{{imageUrl}}">
  <figcaption>Interpolation</figcaption>
</figure>
<figure>
  <img width="300" [src]="imageUrl">
  <figcaption>Property Binding</figcaption>
</figure>
<table border="1">
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td [attr.colspan]="colSpan" >Attribute binding</td>
  </tr>
</table>

<label for="" class="label label-warning" [class.active]="isActive">class binding</label>
<label for="" class="label" [style.background]="isActive?'blue':'red'">style binding</label>
<div (click)="onDivClick($event)">
  <button class="btn btn-primary" (click)="onClick($event)">Event binding</button>  
</div>
<input  (keyup.enter)="onKeyUp(email.value)" value="EventFiltering">
<input #email (keyup.enter)="onKeyUp(email.value)" value="Template variable">

<div class="form-group">
  <label >Two-way binding</label>
  <input [(ngModel)]="name" (keyup.enter)="onKeyUp2()" class="form-control">
</div>